.card {
    &.-movie {
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        min-width: 150px;
        min-height: 300px;
        background-color: $color45;
        padding: 10px;

        .c-row {
            margin: 10px 0;
            width: 100%;
        }

        .c-title {
            color: $color35;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }
        
        .c-img {
            width: 100%;
            object-fit: cover;
            height: 200px;
            
        }

        .c-button {
            color: $color20;
            background-color: $color26;
            border: none;
            padding: 5px;
            margin-bottom: none;

            &:focus {
                outline: none;
                
            }
            &:hover {
                cursor: pointer;
                background-color: $color25;
            }

            &:disabled {
                background-color: $color14;
            }
        }

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        @media screen and (max-width: 992px) {
            max-width: 400px;
            width: 100%;
            margin-right: auto;
            margin-left: 0;
            margin-top: 10px;

        }
    }

    
}