.search {
    width: 55%;
    display: flex;
    flex-direction: column;

    .s-form {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        height: 50px;

        .f-label {
            width: 0%;
            visibility: hidden; 
        }

        .f-searchbox {
            display: block;
            color: $color35;
            width: 80%;
            padding: 10px;
            border: 2px solid $color36;
            border-radius: 5px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            width: 100%;
            transition: .3s;

            &:active {
                transition: .3s;
                outline: none;
                border-color: $color35;
            }

            &:focus {
                transition: .3s;
                outline: none;
                border-color: $color35;
            }
        }

        .f-button {
            border: none;
            background-color: $color36;
            color: $color10;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 20%;
            padding: 5px;
            transition: .3s;

            &:hover {
                background-color: $color35;
                cursor: pointer;
                transition: .3s;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .s-results {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 21%;
        align-content: space-between;
    }
}