.title {
    
    &.-main {
        color: $color10;
        font-family: $openSans;
        font-weight: 900;
        line-height: 90%;
        font-size: 48;
    }

    &.-excerpt {
        font-family: $roboto;
        font-weight: 400;
        color: $color35;
        margin-top: 5px;
        font-size: 22px;
    }

    &.-nominees {
        margin-top: 5px;
        font-family: $roboto;
        font-style: normal;
        font-weight: 400!important;
        font-size: 48px;
        color: $color35;
        line-height: 65px;
    }
}