* {
    box-sizing: border-box;
    margin: 0;
}

body {
    position: relative;
    margin: 0;
    color: $color17;
    font-family: $roboto;
    
    > div {
        margin-top: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

        + * {
            margin-top: 0.5rem;
        }
    }

    li {
        margin-top: 0.25rem;
    }

    main {
        margin-top: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid $color35;
        width: 100%;
        min-height: calc(100vh - 200px);
        background: linear-gradient(90deg, $color10 58%, $color45 42%);
    }

    .wrapper {
        margin: 2rem auto 4rem;
        max-width: 90vw;
        width: 992px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    @media screen and (max-width: 992px) {

        .wrapper {
            margin: 10px auto 4rem;
            width: 95vh;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }

        main {
            margin-top: 0;
            border-top: 5px solid transparent;
            border-bottom: none;
            width: 100%;
            min-height: 100vh;
            background: $color10;
        }
    }
}